@import "./settings";
@import "./typography";
@import "./particles";

*{
    margin: 0;
    padding: 0;
}

body{
    background: $color-one !important;
    color: #fff;
}

.socials{
    display: flex;
    flex-direction: column;
    bottom: 0;
    position: fixed;
    left: 10px;
    font-size: 30px;
}

.email{
    display: flex;
    bottom: 0;
    position: fixed;
    right: 10px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.color-two{
    color: $color-two;
}

.welcome{
    position: relative;
    z-index: 99;

    span{
        font-size: 22px;
    }

    .name{
        font-size: 50px;
        color: $color-three;
    }

    .profession{
        font-size: 40px;
        color: $color-four;
    }

    p{
        color: $color-four;
        font-size: 20px;
    }
}

.about{
    h2{
        color: #fff;

        span{
            color: $color-two;
            font-size: 20px;
            font-family: 'Langar';
        }
    }
}