#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #0a192f !important;
  color: #fff; }

.socials {
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: fixed;
  left: 10px;
  font-size: 30px; }

.email {
  display: flex;
  bottom: 0;
  position: fixed;
  right: 10px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl; }

.color-two {
  color: #64ffda; }

.welcome {
  position: relative;
  z-index: 99; }
  .welcome span {
    font-size: 22px; }
  .welcome .name {
    font-size: 50px; }
  .welcome .profession {
    font-size: 45px; }
